@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  

}
body::-webkit-scrollbar{
  display: none;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
p{
  margin: 0;
}
.main__wrapper {
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  width: 100%;
}
.background__image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/back.png);
  background-size: cover;
  background-position: center;
  z-index: 10;
}
.image__left__text{
  position: absolute;
  top: 50%;
  left: -40px;
  transform: rotate(90deg);
  font-size: 12px;
  letter-spacing: 2px;
}
.image__right__text{
  position: absolute;
  top: 50%;
  right: -120px;
  transform: rotate(-90deg);
  font-size: 12px;
  letter-spacing: 2px;
}
.image__bottom_text{
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
  

}
.image__bottom_text a {
  color: #ffffff;
  margin-right: 24px;
  font-size: 14px;
}
.header__container{
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 60;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 62px;
}
.header__burger{
  height: 100%;
  width: 170px;
  background-color: #1F9D96;
}



.main__content{
  position: absolute;
  z-index: 50;
  width: 100%;
  margin-top: 100vh;
  min-height: 100vh;


  backdrop-filter: blur(10px);
  background-color: rgba(68, 146, 142, 0.32);


  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 56%, rgba(7, 8, 8, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 56%, rgba(7, 8, 8, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 56%, rgba(7, 8, 8, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#070808", GradientType=1);
}

.services__container{
  width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}
.about__container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

}
.about__block{
  width: 1024px;

  background-image: url(../imgs/about_back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
.about__block__name{
  display: flex;
  flex-direction: column;
  
}
.about__block__name p {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}
.about__block__name__line{
  width: 135px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
}
.about__block__content{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.about__block__content__desc{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__desc__text{
  font-size: 16px;
  line-height: 24px; 
}
.about__desc__text p:first-child{
  margin-bottom: 10px;
}
.about__desc__button a{
  display: flex;
  width: 156px;
  height: 43px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
}
.about__desc__button a p {
  display: block;

  color: #fff;
  font-size: 13px;
}
.about__desc__button a img{
  height: 11px;
  margin-left: 10px;
}



.contact__container{
  width: 100%;
  min-height: 100vh;
  position: relative;
}





.number__counter {


  font-size: 15px;

  position: absolute;
  text-align: right;
  right: 35px;
  z-index: 20;
  top: 40%;

}
.number__counter__linesmall{
  width: 70px;
  height: 1px;
  background-color: #D9D9D9;

  position: absolute;
  top: 52%;
  right: 0px;
}
.number__counter__linelong{
  width: 111px;
  height: 1px;
  background-color: #D9D9D9;
  margin-top: 60px;
}
.arrow__counter {
  cursor: pointer;
  position: absolute;
}
.arrow__counter a{
 display: block;
;
  font-size: 20px;

}
.arrow__counter a img{
  margin-top: 20px  ;
}

.block__example__Wrapper{

  margin-top: 5px;
  width: 100%;
height: 100%;
  padding: 5px;
  overflow: hidden;
  position: absolute;
  z-index: 15;
}
.block__example__main{
  height: 100%;
  width: 200vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.block__example__sub{

  height: 538px;
  width: 49%;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  position: relative;
}
.block__example__sub2{
  flex-direction: row-reverse;
  padding-right: 5%;
}
.block__contact__container{
  height: 100%;
  width: 838px;
  background-image: url(../imgs/about_back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  display: flex;
  justify-content: space-between;

  padding: 90px;
}
.number__1 {
  font-size: 12px;
}
.number__1 span{
  font-size: 20px;
}


.arrow__counter_forward{
  top: 12%;
  right: 17%;
}
.arrow__counter_backward{
  top: 12%;
  left: 10%;
}
.arrow__counter_backward img {
  transform: rotate(180deg);
}
.block__example__main{

}


.train{
  animation:   0.5s ease-in forwards;
}
@keyframes train_function_forward {
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(-50%);
  }
}
@keyframes train_function_backward {
  0%{
    transform: translate(-50%);
  }
  100%{
    transform: translate(0%);
  }
}
.block__contact__name {
  font-size: 48px;
}
.block__contact__name-line {
  width: 135px;
  height: 1px;
  background-color: #D9D9D9;
  margin-top: 25px;
}
.block__contact__data {
}
.contact__numbers__desc {
  font-size: 14px;
  font-weight: 300;
}
.contact__numbers__num {
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}
.contact__numbers__num p {
  margin-bottom: 16px;
}
.contact__email__desc {
  font-size: 14px;
  font-weight: 300;
}
.contact__email__mail {
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}

.block__contact__container2{
  display: block;
  text-align: left;
}

.block__contact__form{
  margin-top: 40px;
  width: 100%;
}
.block__contact__form__element{
  width: 100%;
  border-bottom: 1px solid #D9D9D9 ;
  height: 26px;
}
.block__contact__form__element:nth-child(1){
  margin-bottom: 36px;
}
.block__contact__form__element:nth-child(2){
  margin-bottom: 66px;
}
.block__contact__form__element input{
  width: 100%;
  height: 100%;
  background-color: #d9d9d900;
  color: #fff;
  padding: 2px 0px;
}
.block__contact__form__button { 
  height: 42px;
  margin-top: 52px;
}
.block__contact__form__button a{
  height: 41px;
  width: 170px;
  display: block;
  border: 1px solid #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}



























.section {
  font-size: 5rem;
}
.section--large {
  width: 100vw;
  background-color: #8d3dae;
  color: white;
}
.section--small {
  width: 46rem;
}
.section--dark {
  color: white;
  background-color: black;
}

section {
  font-weight: 900;
  transition: color 0.3s;
}




@media only screen and (max-width: 1450px) {
  .background__image{
    background-image: url(../imgs/back1440.png);
  }
  .block__example__sub {
    height: 470px;
  }
  .block__contact__container {
    width: 720px;
    padding: 75px;
  }
  .block__contact__name {
    font-size: 40px;
  }
  .arrow__counter_forward {
    top: 15%;
    right: 10%;
  }
  .arrow__counter_backward{
    top: 15%;
  }
  .block__example__sub2 {
    padding-right: 6%;
  }
}

@media only screen and (max-width: 1370px) {
.block__example__sub{

}
.header__container {
  height: 70px;
}
.block__contact__container{
  padding: 60px;
}
}
@media only screen and (max-width: 780px) {
  .background__image{
    background-image: url(../imgs/back_mobile.png);
  }
  .header__container{
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 60;
    top: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
  }
  .header__burger{
    height: 100%;
    width: 90px;
    background-color: #1F9D96;
  }
  .header__logo{
    transform: scale(0.9);
  }
  .about__block{
    width: calc(100vw - 60px);
  }
  .about__block__content{
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .about__block__name p {
    font-size: 26px;
  }
  .about__desc__text{
    margin-top: 30px;
  }
  .about__desc__button{
    margin-top: 30px;
  }
  .block__example__sub{
    padding-left: 0;
  }
  .block__example__sub2{
    padding-right: 10px;
  }
  .block__contact__container{
    padding: 50px;
  }
  .block__contact__name {
    font-size: 30px;
  }
  .block__contact__name-line {
    margin-top: 20px;
  }
  .number__counter {
    top: initial;
    bottom: 5%;
  }
  .arrow__counter_forward{
    top: initial;
    right: initial;
    bottom: -32%;
    left: 5%;
  }
  .arrow__counter_backward{
    top: initial;
    right: initial;
    bottom: -32%;
    left: 5%;
  }
  .block__contact__form {
    margin-top: 25px;
  }
  .block__contact__form__element:nth-child(1) {
    margin-bottom: 25px;
  }
  .block__contact__form__element:nth-child(2) {
    margin-bottom: 50px;
  }
  .block__contact__form__button {
    margin-top: 40px;
  }
  .block__contact__container{
    width: 100%;
  }
  .block__example__sub{
    height: 400px;
  }
}
@media only screen and (max-width: 450px) {
  .about__block__content__image{
    max-height: 320px;
    overflow: hidden;
  }
  .about__block__content__image img {
    width: 100%;
  }
  .block__contact__container{
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .arrow__counter a {
    font-size: 16px;
  }
}













































